<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <title>Artificial neural net settings</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1></h1>
            <form th:action="@{/nnetsettings}" th:object="${nnsettings}" method="post">
                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('activationType')}? 'has-error':''">
                    <label for="activationType" class="control-label">Activation type:</label>
                    <select id="activationType" th:field="*{activationType}">
                        <option th:value="BiPolar" th:text="BiPolar"></option>
                        <option th:value="BipolarSteepenedSigmoid" th:text="BipolarSteepenedSigmoid"></option>
                        <option th:value="ClippedLinear" th:text="ClippedLinear"></option>
                        <option th:value="Competitive" th:text="Competitive"></option>
                        <option th:value="Elliott" th:text="Elliott"></option>
                        <option th:value="ElliottSymmetric" th:text="ElliottSymmetric"></option>
                        <option th:value="Gaussian" th:text="Gaussian"></option>
                        <option th:value="Linear" th:text="Linear"></option>
                        <option th:value="LOG" th:text="LOG"></option>
                        <option th:value="Ramp" th:text="Ramp"></option>
                        <option th:value="Step" th:text="Step"></option>
                    </select>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('activationType')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('trainingType')}? 'has-error':''">
                    <label for="trainingType" class="control-label">Training type:</label>
                    <select id="trainingType" th:field="*{trainingType}">
                        <option th:value="Backpropagation" th:text="Backpropagation"></option>
                        <option th:value="QuickPropagation" th:text="QuickPropagation"></option>
                        <option th:value="ManhattanPropagation" th:text="ManhattanPropagation"></option>
                    </select>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('trainingType')}"
                       th:text="${error}">Validation error</p>
                </div>


                <div class="form-group"
                     th:classappend="${#fields.hasErrors('epochsCount')}? 'has-error':''">
                    <label for="epochsCount" class="control-label">Epoch count(3):</label> <input
                        id="epochsCount" class="form-control" th:field="*{epochsCount}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('epochsCount')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('iterationCount')}? 'has-error':''">
                    <label for="iterationCount" class="control-label">Iteration count(1):</label> <input
                        id="iterationCount" class="form-control" th:field="*{iterationCount}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('iterationCount')}"
                       th:text="${error}">Validation error</p>
                </div>


                <div class="form-group"
                     th:classappend="${#fields.hasErrors('hiddenLayerCount')}? 'has-error':''">
                    <label for="hiddenLayerCount" class="control-label">Hidden layer count(1-3):</label> <input
                        id="hiddenLayerCount" th:value="50" value="50" class="form-control"
                        th:field="*{hiddenLayerCount}">
                    <p class="error-message"
                       th:each="error: ${#fields.errors('hiddenLayerCount')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('hiddenLayerNeuronCount')}? 'has-error':''">
                    <label for="hiddenLayerNeuronCount" class="control-label">Hidden layer neuron
                        count(100-200):</label> <input
                        id="hiddenLayerNeuronCount" class="form-control" th:field="*{hiddenLayerNeuronCount}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('hiddenLayerNeuronCount')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>